/* -- RESET -- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: initial;
}

button {
  font: inherit;
  border: initial;
  outline: initial; /* create alternative for focus state */
  background-color: initial;
}

html,
body {
  overscroll-behavior: none;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #1a1a1a;
  color: #b0b0b0;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
  /* transition: background 0.5s ease; */
}

h1,
h2,
h3 {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 10px;
  /* text-transform: uppercase; */
  /* letter-spacing: -10px; */
}

p {
  margin-bottom: 20px;
}

.container {
  /* max-width: 1120px; */
  width: 100%;
  margin: 0 auto;
  padding: 0 40px 0 40px;
  /* margin-left: 0; */
}

.header {
  margin: 120px 0 60px;
}

.header--special {
  display: block;
  font-size: 20px;
  font-weight: 400;
}

.intro__descr {
  max-width: 690px;
}

.intro__social-list {
  display: flex;
  gap: 20px;
  scroll-margin-top: 40px;
  font-size: 16px;
}

.intro__social-link {
  border-bottom: 1px solid #e3e2e4;
}

/* -- PROJECTS -- */
.projects {
  margin: 60px auto 60px;
}

.projects__descr {
  max-width: 690px;
}

.project__item {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(176, 176, 176, 0.2);
}

.project__item:last-child {
  border-bottom: 1px solid rgba(176, 176, 176, 0.2);
}

.project__content-wrapper {
  display: flex;
  gap: 0;
  transition: all 0.6s ease-in-out 0.3s;
}

.project__item-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project__img-wrapper {
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s ease-in-out 0.3s;
}

.project__item:hover .project__img-wrapper {
  opacity: 1;
  visibility: visible;
}

.project__item:hover .project__content-wrapper {
  gap: 30px;
}

.project__item-img {
  margin-left: -300px;
  width: 300px;
  height: 100%;
  object-fit: cover;
  transform: translateX(-100%);
  transition: all 0.6s ease-in-out 0.3s;
}

.project__item:hover .project__item-img {
  transform: translateX(0%);
  margin-left: 0;
}

.project__item-title {
  font-size: 40px;
  line-height: 1.5;
  margin-bottom: 0;
}
.project__item-descr {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 10px;
}

.project__item-arrow {
  transform: rotate(-45deg);
  transition: all 0.6s;
}

.project__item:hover .project__item-arrow {
  transform: rotate(0);
}

.project__item-list {
  display: flex;
  gap: 20px;
  font-size: 16px;
  margin-bottom: 10px;
}

.project__item-link {
  border-bottom: 1px solid rgba(227, 226, 228, 0.6);
  transition: all 0.4s;
}

.project__item-link:hover {
  opacity: 0.6;
  cursor: pointer;
}

.project__item-link:visited {
  opacity: 0.6;
}

.project__tools {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  opacity: 0.5;
}

.project__tool {
  border: 1px solid #b0b0b0;
  padding: 6px 10px;
  border-radius: 100px;
  font-size: 12px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.footer {
  margin-bottom: 20px;
  font-size: 16px;
  color: rgba(176, 176, 176, 0.2);
}